@import "~leaflet/dist/leaflet.css";

:root {
  --primary-color: #ff6f22;
  --secondary-color: #663d3b;
  --background-color: #edcfb8;
  --dark-color: #2c1514;
  --light-cream: #fffcfa;
  --dark-cream: #faf3ee;
}

#root {
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

h1 {
  color: var(--dark-color);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 2.8rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

span {
  display: inline-flex;
}

span p {
  font-size: 0.8rem;
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6f22;
  color: #fffcfa;
  font-weight: 600;
  font-size: 1rem;
  padding: 16px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: var(--dark-color);
  color: #ff6f22;
}

.orange-button {
  font-size: 1.2rem;
  font-weight: 600;
}

nav {
  padding-block: 6px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: #2c1514;
  color: var(--light-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#background {
  position: relative;
  background-color: var(--background-color);
  height: 100vh;
  z-index: 0;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
}
footer {
  position: relative;
  top: -30px;
  z-index: -40;
}

footer .titleSection {
  height: 60vh;
}

.realFooter {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  background-color: #2c1514;
  font-size: x-small;
  color: #faf3ee;
  justify-content: center;
}

#mainSection {
  background-color: var(--light-cream);
  padding: 40px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#map {
  max-height: 600px;
  width: 20vw;
  overflow: hidden;
}

#mainSpacesContainer {
  display: flex;
  margin-bottom: 40px;
  align-self: center;
  justify-content: center;
  gap: 20px;
  max-width: 70vw;
}

iframe {
  position: fixed;
  width: 23vw;
  height: 500px;
  border: 0;
  top: 175px;
  right: 40px;
  animation: slideInFromRight 0.8s ease-in-out 1.4s backwards;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#mappedInEmbed span {
  background: linear-gradient(
    to bottom,
    rgb(102, 61, 59),
    rgba(102, 61, 59, 0)
  );
  opacity: 1;
}

.darkShade {
  position: absolute;
  height: 60px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgb(102, 61, 59),
    rgba(102, 61, 59, 0)
  );
  opacity: 1;
  z-index: 0;
}

#infoContainer {
  position: relative;
  top: 400px;
  background-color: #fffcfa;
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 840px;
  border-radius: 30px;
  border: 0;
  height: 800px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#infoContainer h4 {
  margin-block: 16px;
  font-family: "Inter";
  font-weight: 600;
}

.partyImg {
  margin-left: -10px;
  width: 100%;
}

.backIcon {
  margin-left: 40px;
  width: 20px;
  height: 20px;
}

.locationDesc .icon {
  margin: 0;
  width: 30px;
  height: 30px;
}

.infoContainerRight {
  margin-top: 40px;
  width: 360px;
  height: 500px;
}

.infoContainerLeft {
  margin-top: 40px;
  width: 320px;
  height: 500px;
}
.infoContainerLeftImg {
  position: relative;
  width: 100%;
  border-radius: 30px;
  height: 250px;
  z-index: 1;
}

.infoContainerBottomSection {
  position: relative;
  border-radius: 30px;
  width: 100%;
  height: 400px;
  top: -80px;
  z-index: 2;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

#middleSection {
  width: 55vw;
  opacity: 0;
  display: flex;
  height: fit-content;
  justify-content: center;
  justify-self: center;
  margin-left: 300px;
  margin-right: 410px;
  padding-bottom: 40px;
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}

#middleSection .mainTitle {
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 80px;
}

#middleSection .orange-text {
  padding-left: 0.5rem;
}

#middleSection .mainTitle h2 {
  font-size: 2rem;
}
#middleSection .mainTitle p {
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.87;
}

#chatBar {
  height: 95%;
  width: 25vw;
  top: 55px;
  right: 0px;
  position: fixed;
  background-color: #663d3b;
  color: var(--light-cream);
  animation: slideInFromRight 0.8s ease-in-out 1.4s backwards;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
}

#backgroundImg {
  position: fixed;
  background-image: url("./images/landing/buildings.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

.backgroundImg {
  position: fixed;
  background-image: url("./images/landing/buildings.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

#listingContainer {
  padding-right: 20px;
  margin-bottom: 100px;
  opacity: 0;
  position: absolute;
  top: 180px;
  display: flex;
  justify-self: center;
  max-width: 700px;
  flex-direction: column;
  background-color: #fffcfa;
  border-radius: 30px;
  animation: fadeIn 1s ease-in-out 1.8s forwards;
}

.listingComponent {
  background-color: #fffcfa;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.listingComponent:hover {
  transform: scale(1.1);
}

.listingDesc {
  color: var(--secondary-color);
}

.locationDesc {
  display: flex;
  height: auto;
  align-items: center;
  gap: 6px;
  color: var(--primary-color);
}

.locationDesc .icon {
  margin-left: 0;
}

.locationDesc h6 {
  font-size: 0.8rem;
  font-weight: 400;
}

.listingDesc h4 {
  font-size: 1.4rem;
  color: #2c1514;
}

.listingDesc p {
  font-size: 0.8rem;
}

.listingComponentImg {
  min-width: 300px;
  height: 200px;
  border-radius: 30px;
  object-fit: cover;
  padding: 20px;
}

.listingComponent .icon {
  min-width: 24px;
  height: 24px;
  padding: 0;
}

.listingButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
}
.listingButton h6 {
  padding-left: 24px;
}
.listingButton .icon {
  width: 26px;
  height: 26px;
  padding-right: 12px;
}

#sideBar {
  z-index: 50;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px;
  position: fixed;
  height: 100%;
  width: 20vw;
  background-color: #663d3b;
  color: var(--light-cream);
  animation: slideInFromLeft 0.8s ease-in-out 0.4s backwards;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}

#settings {
  width: 100%;
  position: absolute;
  bottom: 90px;
  border-radius: 0;
}
#sideBar p {
  align-self: flex-start;
  font-size: 0.8rem;
  margin-inline: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.87;
}
#sideBar h6 {
  margin: 0.8rem;
}

.landingTitle {
  opacity: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out 0.4s forwards;
}

.landingTitle p {
  font-size: 0.8rem;
  margin-block: 0.5rem;
}

.icon {
  width: 20px;
  height: 20px;
}

#mainFloor {
  background-color: #fffcfa;
  margin-top: 60px;
  width: 840px;
  height: 100vh;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  margin-left: 300px;
  margin-right: 400px;
  padding-bottom: 40px;
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}

.mainSpan {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 840px;
  height: 60px;
}

.mainSpan .icon {
  z-index: 1;
  padding-inline: 20px;
}

.mainSpan h4 {
  color: #fffcfa;
  z-index: 1;
}

.mainTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftAlignTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.orange-text {
  color: var(--primary-color);
  padding-inline: 1rem;
}

.search-bar {
  opacity: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
  background-color: white;
  color: #9e9e9e;
  text-align: left;
  text-indent: 26px;
  width: 780px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-in-out 1s forwards;
}

.search-bar:hover {
  cursor: text;
  background-color: var(--dark-cream);
  color: #ff6f22;
}

.menu-search-bar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 200;
  background-color: #dfd6d2;
  opacity: 1;
  color: #9e9e9e;
  text-align: left;
  text-indent: 26px;
  width: 600px;
  border: none;
  border-radius: 100px;
}

.landing-search-bar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 200;
  background-color: #dfd6d2;
  opacity: 1;
  margin-left: 40px;
  color: #9e9e9e;
  text-align: left;
  text-indent: 26px;
  width: 300px;
  border: none;
  border-radius: 100px;
}

.landing-search-bar button {
  padding: 6px;
}

.menu-search-bar button {
  justify-self: flex-end;
  padding: 8px;
}

.menu-search-bar img {
  width: 20px;
  height: 20px;
}

.menu-bar:hover {
  cursor: text;
  background-color: var(--dark-cream);
  color: #ff6f22;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 55px;
  height: 55px;
  right: 0;
}

.end-title {
  margin-left: 1rem;
}

.studySpaceContainer {
  background-color: #faf3ee;
  z-index: 1;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.studySpaceContainer:hover {
  transform: scale(1.1);
}

.studySpaceContainer div {
  z-index: 1;
  margin: 1.5rem;
}

.studySpaceContainer img {
  z-index: 1;
  width: 100%;
  height: 260px;
  border-radius: 30px;
}

.backgroundContainer {
  z-index: 0;
  left: -1rem;
  position: absolute;
  width: 100vw;
  height: 100%;
}

.locPathLeft {
  z-index: 0;
  position: absolute;
  left: 10px;
  top: 300px;
}

.locPathRight {
  z-index: 0;
  position: absolute;
  right: 0px;
  top: 600px;
}

.locPathBottom {
  z-index: 0;
  position: absolute;
  left: 300px;
  bottom: -900px;
}

.bubbles {
  max-width: 60vw;
  z-index: -5;
  position: absolute;
  left: 200px;
  top: 820px;
}

.mainImage {
  z-index: 100;
  max-width: 60vw;
  margin-left: 100px;
}

.homeName {
  background-color: transparent;
}

#profilePicture {
  background-color: #2c1514;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
}

.savedSpot {
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-top: 1px solid rgba(41, 18, 3, 0.5);
}

.savedSpot span {
  color: #ff6f22;
  margin: 0;
}
.savedSpot h6 {
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

.savedSpot img {
  align-self: center;
}

.infoDescription p {
  color: #663d3b;
  margin-top: 12px;
}

.infoDescription h4 {
  margin-top: 6px;
}

@keyframes fadeIn {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateY(0);
  }
}
