:root {
  --primary-color: #ff6f22;
  --secondary-color: #663d3b;
  --background-color: #edcfb8;
  --dark-color: #2c1514;
  --light-cream: #fffcfa;
  --dark-cream: #faf3ee;
}

body {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
  margin: 0;
}

h1 {
  color: var(--dark-color);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 3.6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  margin-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

span {
  display: inline-flex;
}

span p {
  margin: 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6f22;
  color: #fffcfa;
  padding: 16px;
  border: none;
  border-radius: 100px;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

button:hover {
  cursor: pointer;
  background-color: var(--dark-color);
  color: #ff6f22;
}

.orange-button {
  font-size: 1.2rem;
  font-weight: 600;
}

nav {
  padding-block: 6px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background-color: #2c1514;
  color: var(--light-cream);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#background {
  background-color: var(--background-color);
  background-image: url("./images/landing/buildings.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
footer {
  z-index: 100;
  background-color: var(--background-color);
}

#mainSection {
  background-color: var(--light-cream);
  padding: 40px;
  margin-bottom: 80px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#mainSpacesContainer {
  display: flex;
  margin-bottom: 40px;
  align-self: center;
  justify-content: center;
  gap: 20px;
  max-width: 70vw;
}

#middleSection {
  opacity: 0;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-left: 300px;
  margin-right: 410px;
  padding-bottom: 40px;
  animation: fadeIn 1s ease-in-out 0.8s forwards;
}

#middleSection .mainTitle {
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 80px;
}

#middleSection .mainTitle h2 {
  font-size: 2rem;
}
#middleSection .mainTitle p {
  font-weight: 300;
  font-size: 0.8rem;
  opacity: 0.87;
}

#chatBar {
  height: 95%;
  top: 55px;
  right: 0px;
  position: fixed;
  background-color: #663d3b;
  color: var(--light-cream);
  animation: slideInFromRight 0.8s ease-in-out 1.4s backwards;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
}

#listingContainer {
  opacity: 0;
  position: absolute;
  top: 180px;
  display: flex;
  justify-self: center;
  max-width: 700px;
  flex-direction: column;
  background-color: #faf3ee;
  border-radius: 30px;
  animation: fadeIn 1s ease-in-out 1.8s forwards;
}

.listingComponent {
  background-color: #fffcfa;
  border-radius: 30px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.listingComponent:hover {
  transform: scale(1.1);
}

.listingDesc {
  color: #2c1514;
}

.listingDesc span {
  align-items: center;
  gap: 6px;
  color: #ff6f22;
}

.listingDesc h6 {
  font-size: 0.8rem;
}

.listingDesc p {
  font-size: 0.8rem;
}

.listingComponent img {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
}

.listingComponent .icon {
  width: 24px;
  height: 24px;
  padding: 0;
}

.listingButton {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
}
.listingButton h6 {
  padding-left: 24px;
}
.listingButton .icon {
  width: 26px;
  height: 26px;
  padding-right: 12px;
}

#sideBar {
  z-index: 50;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 40px;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #663d3b;
  color: var(--light-cream);
  animation: slideInFromLeft 0.8s ease-in-out 0.4s backwards;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}
#sideBar p {
  align-self: flex-start;
  margin-inline: 2rem;
  opacity: 0.87;
}
#sideBar h6 {
  margin: 1rem;
}

.landingTitle {
  opacity: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out 0.4s forwards;
}

.icon {
  width: 20px;
  height: 20px;
}

.mainTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftAlignTitle {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.orange-text {
  color: var(--primary-color);
  padding-left: 1rem;
}

.search-bar {
  opacity: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #9e9e9e;
  text-align: left;
  text-indent: 26px;
  width: 740px;
  border: none;
  border-radius: 100px;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.8s ease-in-out 1s forwards;
}

.search-bar:hover {
  cursor: text;
  background-color: var(--dark-cream);
  color: #ff6f22;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 55px;
  height: 55px;
  right: 0;
}

.end-title {
  margin-left: 1rem;
}

.studySpaceContainer {
  z-index: 1;
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 0 20px 15px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease-in-out;
}

.studySpaceContainer:hover {
  transform: scale(1.1);
}

.studySpaceContainer div {
  z-index: 1;
  margin: 1.5rem;
}

.studySpaceContainer img {
  z-index: 1;
  width: 100%;
  height: 260px;
  border-radius: 30px;
}

.backgroundContainer {
  z-index: 0;
  left: -1rem;
  position: absolute;
  width: 100vw;
  height: 100%;
}

.locPathLeft {
  z-index: 0;
  position: absolute;
  left: 10px;
  top: 300px;
}

.locPathRight {
  z-index: 0;
  position: absolute;
  right: 0px;
  top: 800px;
}

.locPathBottom {
  z-index: 0;
  position: absolute;
  left: 300px;
  bottom: -900px;
}

.bubbles {
  max-width: 60vw;
  z-index: -5;
  position: absolute;
  left: 200px;
  top: 820px;
}

.mainImage {
  z-index: 100;
  max-width: 60vw;
  margin-left: 100px;
}

.homeName {
  background-color: transparent;
}

#profilePicture {
  background-color: #2c1514;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 100px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);
}

.savedSpot {
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border-top: 1px solid rgba(41, 18, 3, 0.5);
}

.savedSpot span {
  color: #ff6f22;
}
.savedSpot h6 {
  margin: 0;
  font-size: 0.8rem;
}

.savedSpot img {
  align-self: center;
}

@keyframes fadeIn {
  from {
    transform: translateY(-60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInFromBottom {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(400px);
  }
  to {
    transform: translateY(0);
  }
}
